:root {
    --bg-color: rgb(0, 120, 255);
    --container-color: rgb(246, 255, 153);
    --secondary-button-hovered-color: rgb(236, 245, 143);
    --secondary-button-active-color: rgb(226, 235, 133);
    --button-color: rgb(8, 160, 69);
}

@font-face {
    font-family: vcr-osd-mono;
    src: url(vcr_osd_mono.ttf)
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: var(--bg-color);
    font-family: vcr-osd-mono, monospace;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    font-family: vcr-osd-mono, monospace;
}

#root {
    margin: auto;
    padding: 8px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    height: calc(100% - 16px)
}

.text-title {
    text-align: center;
    font-size: 3rem;
}

#main-content {
    flex-grow: 1;
    display: flex;
    gap: 16px;
    flex-direction: row;
    min-height: 0;
}

.container {
    border: 6px solid black;
    border-radius: 8px;
    color: black;
    padding: 6px;
    background-color: var(--container-color);
}

.secondary-container {
    border: 6px solid black;
    border-radius: 8px;
    color: black;
    padding: 6px;
    background-color: var(--button-color);
}


#builds-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 0;
    overflow-y: auto;
}

.build-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.build-item-title {
    font-size: 3rem;
}

#build-list-title{
    position: sticky;
    top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--container-color);
}

.secondary-button {
    background-color: var(--container-color);
    border: 6px solid black;
    border-radius: 8px;
    padding: 8px;
    font-size: 2rem;
}

.secondary-button:hover {
    background-color: var(--secondary-button-hovered-color);
}

.secondary-button:active {
    background-color: var(--secondary-button-active-color);
}

.build-item-button {
    width: 320px;
}

.build-item-bottom {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.version-item {
    padding: 8px;
    font-weight: normal;
    font-size: 1.75rem;
    background-color: transparent;
    border: none;
    color: rgb(200, 200, 200);
}

.version-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(180, 180, 180);
    border-radius: 8px;
}

.version-item:active {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(180, 180, 180);
    border-radius: 8px;
}

#version-select {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    overflow-y: auto;
}


#version-select-container {
    width: 256px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 0;
}